/* 一般的なナビゲーションのHTMLを学ぶ */
#header-1  li{
    list-style: none;
}
#header-1 a {
    text-decoration: none;
    color: #333;
    /* blockにより、aの幅が広げられ、横一列すべてにリンクが付いてしまった */
    /* display: block; */
}



#header-2 li {
    list-style: none;
}
#header-2 a {
    text-decoration: none;
    color: rgb(4, 136, 251);
}



#humburger3 {
    width: 44px;
    height: 44px;
    background: url();
}


body {
    margin: 0;
    font-family:  'Helvetica Neue', 'Arial', 'Hiragino Sans', 'Meiryo', sans-serif;
}